In [15]:
import numpy as np
import pandas as pd
import category_encoders as ce
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import accuracy_score

In [16]:
dataset = pd.read_csv('age_salary.csv')
dataset.head(15)

    Index   Nation   Age   Salary Purchase_Item
0       0    India  25.0  35000.0            No
1       1   Russia  27.0  40000.0           Yes
2       2  Germany  50.0  54000.0            No
3       3   Russia  35.0      NaN            No
4       4  Germany  40.0  60000.0           Yes
5       5    India  35.0  58000.0           Yes
6       6  Germany   NaN  52000.0           Yes
7       7   Russia  48.0  79000.0            No
8       8  Germany  50.0  83000.0           Yes
9       9    India  37.0      NaN            No
10     10   Russia  21.0  24000.0           Yes
11     11  Germany   NaN  60000.0            No
12     12    India  63.0  70000.0            No
13     13    India  45.0  50000.0             ?

In [17]:
X = dataset.drop(['Purchase_Item', 'Index'], axis=1)
y = dataset['Purchase_Item']

In [18]:
X.isnull().sum()

Nation    0
Age       2
Salary    2
dtype: int64

In [19]:
X['Age'].fillna(X['Age'].mean(), inplace=True)
X['Salary'].fillna(X['Salary'].mean(), inplace=True)
X.isnull().sum()

Nation    0
Age       0
Salary    0
dtype: int64

In [20]:
encoder = ce.OneHotEncoder(cols=['Nation'])

In [21]:
X = encoder.fit_transform(X)

c:\users\seema gupta\appdata\local\programs\python\python38\lib\site-packages\category_encoders\utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

In [22]:
X

    Nation_1  Nation_2  Nation_3        Age        Salary
0          1         0         0  25.000000  35000.000000
1          0         1         0  27.000000  40000.000000
2          0         0         1  50.000000  54000.000000
3          0         1         0  35.000000  55416.666667
4          0         0         1  40.000000  60000.000000
5          1         0         0  35.000000  58000.000000
6          0         0         1  39.666667  52000.000000
7          0         1         0  48.000000  79000.000000
8          0         0         1  50.000000  83000.000000
9          1         0         0  37.000000  55416.666667
10         0         1         0  21.000000  24000.000000
11         0         0         1  39.666667  60000.000000
12         1         0         0  63.000000  70000.000000
13         1         0         0  45.000000  50000.000000

In [23]:
x_predict = X.iloc[13]
#print(x_predict)
y_predict = y.iloc[13]

In [24]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
x_train = np.asarray(x_train)
x_test = np.asarray(x_test)
y_train = np.asarray(y_train)
y_test = np.asarray(y_test)
x_predict = np.asarray(x_predict).reshape(1,-1)

In [25]:
knn = KNeighborsClassifier(n_neighbors=4)
knn.fit(x_train, y_train)
print("The accuracy of the classifier is: {}%".format(accuracy_score(y_test, knn.predict(x_test))*100))

The accuracy of the classifier is: 66.66666666666666%

In [26]:
if(knn.predict(x_predict)==1):
    print("When {0} ,Purchase_Item={1}".format("Nation=India, Age=45 and Salary=50000", 'Yes'))
else:
    print("When {0} ,Purchase_Item={1}".format("Nation=India, Age=45 and Salary=50000", 'Yes'))

When Nation=India, Age=45 and Salary=50000 ,Purchase_Item=Yes